html {
    box-sizing:border-box;
}

*, *:before, *:after {
    box-sizing:inherit;
}

img {
    max-width: 100%;
}

  a:link{
    color: #F8DE7E;
    text-decoration: none;
  }
  a:visited{
    color: #F8DE7E;
  }
  a:hover{
    color: #FCFA74;
  }


.container  {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: repeat(4, 1);
    grid-gap: 5px 5px;
    grid-auto-flow: dense;
}

@media screen and (min-width: 501px) {
  .container {
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: auto;
  }

  div.item1 {
    grid-column: 2/span 3;
    font-size: 80px;
  }
  div.item3 {
    grid-column: 2/span 3;
    font-size: 30px;
  }
  div.item6 {
    grid-column: 2/span 3;
    font-size: 35px;
  }
  div.item9 {
    grid-column: 2/span 1;
    grid-row: 4/span 1;
    font-size: 25px;
  }
  div.item12 {
    grid-column: 3/span 1;
    grid-row: 4/span 1;
    font-size: 20px;
  }
  div.item15 {
    grid-column: 4/span 1;
    grid-row: 4/span 1;
    font-size: 25px;
  }
  div.item18{
    font-size: 35px;
    grid-column: 2/span 3;
    grid-row: 5/span 1;
  }

}

@media screen and (max-width: 500px) {
  div.item1 {
    font-size: 40px;
  }
  div.item3 {
    font-size: 20px;
  }
  div.item6 {
    font-size: 18px;
  }
  div.item18{
    font-size: 25px;
  }
  div.item15{
    font-size: 20px;
  }
  div.item12{
    font-size: 15px;
  }
  div.item9{
    font-size: 20px;
  }
  div.item19  {
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    top: 60%;
    left: 35%;
    color: #F8DE7E;
    opacity: 20%;
    font-size: 100px;
  }
}

.item  {
}

.item1  {
  color: #F8DE7E;
}

.item2  {

}

.item3  {
  color: #A3CDD9;
  text-align: justify;

}

.item4  {
}

.item5  {
}

.item6  {
  text-align: center;
  color: #F8DE7E;
}

.item7  {
}

.item8  {
}

.item9  {
  font-weight: 100;
  text-align: left;
  color: #A3CDD9;
}

.item10  {
}

.item11  {
}

.item12  {
  font-weight: bold;
  text-align: center;
  color: #A3CDD9;
}

.item13  {
}

.item14  {
}

.item15  {
  font-weight: 900;
  font-style: italic;
  text-align: right;
  color: #A3CDD9;
}

.item16  {
}

.item17  {
}

.item18  {
  text-align: center;
  color: #F8DE7E;
}

.item19  {
  position: absolute;
  top: 35%;
  left: 29%;
  color: #F8DE7E;
  opacity: 20%;
  font-size: 200px;

}
